@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Warna putih */
  --background-end-rgb: 255, 255, 255;   /* Warna putih */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;  /* Warna gelap untuk mode gelap */
    --background-end-rgb: 0, 0, 0;    /* Warna gelap untuk mode gelap */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Menghilangkan gradien */
}
